@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sofia+Sans+Extra+Condensed:ital,wght@1,200;1,500&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif !important;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

div,
table,
select,
button {
    font-family: 'Poppins', sans-serif !important;
    text-align: center;
    font-size: 19px !important;
}

table {
    width: 100%;
    margin: 2px auto;
    table-layout: auto;
    color: #292929;
    background-color: #ffff;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    box-shadow: -2px 18px 62px -5px rgb(0 0 0 / 21%);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table tr th,
td {
    padding: 10px;
    /*border: 1px solid #ccc;*/
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

td {
    /*border: 1px solid #888686;*/
    padding: 8px;
    text-align: center;
}

th {
    /*border: 1px solid #888686;*/
    padding: 8px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    border-bottom-width: 5px;
    border-bottom-style: groove;
}

td {
    /*border: 1px solid #888686;*/
    padding: 8px;
    text-align: center;
}

.jobs-desc {
    margin: 70px;
}

.field {
    width: 90%;
    height: auto;
    margin: auto;
}

.details {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
    /*margin-left: 120px;*/
    margin-right: auto;
}

.card {
    margin: 10px;
}

.card:hover {
    width: 26rem !important;
}

.card-title {
    font-weight: bolder;
}

.image .banner {
    height: 300px !important;
}

.jobs-desc h4 {
    font-weight: bolder;
    font-size: 23px !important;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#dash2 {
    color: white;
    font-size: 15px;
    text-align: left;
    margin-left: 4px;
    margin-top: 10px;
}

#dash2 a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

#job-desc {
    margin-bottom: 40px;
    font-size: 15px;
    color: dimgray;
}

.card-sep {
    border-width: 0px;
    border-style: solid;
    border-color: gray;
    margin-bottom: 20px;
}

.card_text_head {
    font-weight: bold;
    color: gray;
    font-size: 16px !important;
}

.card_text {
    font-size: 17px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.card_t {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.card-btn {
    margin-top: 25px;
    margin-bottom: 15px;
    cursor: pointer;
}

.modal-cont {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.modal-cont p {
    font-size: 15px;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}

.cand-form {
    padding: 0 10px;
    border-radius: 5px;
    border-width: 1px;
    margin-left: 10px;
    width: 82%;
    font-size: 15px !important;
}

.modal-sec {
    display: flex;
    flex-direction: column;
}

.modal-sec h3 {
    position: relative;
    right: 38%;
    font-size: 21px;
    font-weight: bold;
    color: gray;
    margin: 15px 0 0 0;
}

.modal-sep {
    border-color: #e9ecef;
    border-width: 1px;
    border-style: solid;
    margin: 16px 38px 8px;
    width: 90%;
}

.review {
    background-color: #fdf5dd;
    padding: 5px 30px;
    border-radius: 28px;
    color: #cfa00c;
    font-weight: bold;
    margin-left: 12px;
}

.review:after {
    background: #f2be1d;
    position: absolute;
    top: 679px;
    left: 34px;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 50%;
}

.search {
    flex-shrink: 0;
    display: flex;
    align-content: center;
    align-items: center;

}

.search input {
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
}

.search>input {
    padding: 8px;
    border: none;
    outline: navajowhite;
    margin: 0 0 0 20px;
    background: white;
}

.main_logo {
    height: auto;
    width: 130px;
    margin: -26px;
    margin-left: -29px;
}