@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sofia+Sans+Extra+Condensed:ital,wght@1,200;1,500&display=swap');

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    height: 0%;
    font-family: 'Poppins', sans-serif !important;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding-bottom: 220px;
    background-color: #f5f5f5;
    line-height: 1.3 !important;
}

div,
span {
    border: 0;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
}

.bi {
    margin-right: 10px;
    margin-top: 3px;
}

#signin-border {
    text-align: center;
    padding-left: 100px;
    max-width: 450px;
    padding: 15px;
    margin: auto;
    border-color: rgb(99, 98, 98);
    border-style: groove;
    border-radius: 10px;
    border-width: 1px;
    width: auto;
    height: auto;
}

.msg {
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    border-radius: 7px;
    background-color: red;
    text-align: center;
    transition: 2s;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
    align-items: center;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.banner-size {
    margin-top: 3.5rem !important;
    margin-bottom: 1.5rem !important;
    height: auto;
    object-fit: initial;
    left: 50%;
    margin: 0px auto;
    position: relative;
    top: 17%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.btn {
    margin: 15px 10px 45px 0px;
    border-radius: 25px;
}

.mb-3 {
    margin-top: 40px;
    font-weight: bold !important;
}

/* Header  */

.container-header {
    font-family: 'Poppins', sans-serif;
}

.form-control {
    margin-bottom: 10px;
}

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider,
.b-example-divider-2 {
    height: 3.1rem;
    background-color: #d7d4d8;
    border: solid #d7d4d8;
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-divider-2 {
    height: 8.5px !important;
    top: -124px !important;
    /* margin-bottom: 0px; */
    position: relative;
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

* {
    box-sizing: border-box;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 15px 60px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    padding-top: 22px;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
    margin-top: 5px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}


/* Footer */

.cont-footer {
    margin-top: 1000px;
    display: block;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: none;
    color: rgba(74, 74, 74, 1);
    -webkit-font-smoothing: antialiased;
    direction: ltr;
}

.rootfooter {
    margin-top: 32px;
    margin-bottom: 24px;
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-right: 20px solid rgba(0, 0, 0, 0);
    text-align: center;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    color: rgba(74, 74, 74, 1);
    -webkit-font-smoothing: antialiased;
    direction: ltr;
}

.foo-span {
    font-size: 10px;
    color: #98a0a6;
    display: inline-block;
    height: 15px;
    background-image: url('Acc_Logo.svg');
    /*background-image: url(https://wd3.myworkdaycdn.com/wday/asset/ui-html/2023.02.7/update/ExternalApp/A17F3BAAF32B577A6774E7DD10CE684F.cache.svg);*/
    background-size: 75px 43px;
    background-repeat: no-repeat;
    padding: 14px 70px 0 0;
    background-position: top right;
    line-height: 10px;
    position: relative;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 40px;
    padding-left: 14px;
    margin-bottom: 0px;
    margin-top: 200px;
}

.foo-span::before {
    content: " ";
    font-size: 0;
    display: block;
    width: 420px;
    height: 1px;
    background-color: #abaeb0;
    position: absolute;
    top: 25px;
    left: -470px;
}

.foo-span::after {
    content: " ";
    font-size: 0;
    display: block;
    width: 420px;
    height: 1px;
    background-color: #abaeb0;
    position: absolute;
    top: 25px;
    right: -470px;
}

.copyright {
    font-size: 13px !important;
    color: #4a4a4a;
    line-height: 20px;
    display: block;
    width: 100%;
    max-width: 560px;
    margin: 10px auto 0 auto;
    text-align: center;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    margin-bottom: 40px;
}

.foo-last {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 10px;
    color: #4a4a4a;
    line-height: 20px;
    display: block;
    width: 100%;
    max-width: 560px;
    margin: 10px auto 0 auto;
    text-align: center;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
}

.lat_news {
    float: left;
    margin-left: 60px;
    transition: 0.1s;
    opacity: 1;
    font-size: 23px;
    font-weight: 800;
    color: #0c0000;
    text-decoration: none;
    margin-top: 10px;
}

.lat_news:hover {
    opacity: 1;
    border-spacing: 15px;
    border-style: solid;
    border-top: #0c0000;
    border-left: #0c0000;
    border-right: #0c0000;
    border-radius: 4px;
    border-width: 3px;
}

#acc-logo {
    height: 40px;
    float: left;
    /* position: relative; */
    /* left: -100px; */
    /* top: -10px; */
    padding-bottom: 8px;
}

.logo-seperator {
    display: -webkit-inline-box;
    background-color: #979494;
    min-width: 1px;
    width: 1px;
    height: 55px;
    /* margin: 10px 30px; */
    /* margin-left: 80px; */
    /* position: relative; */
    /* margin-left: 0px; */
    float: left;
    margin-top: 5px;
}

.Amain_photo {
    background-size: 100px;
    background-image: url('main_banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    height: 100%;
    width: 100%;
}

.Amain-quote {
    color: white;
    font-size: 20px;
    padding: 300px;
}

.Amain-text {
    text-align: left;
    font-size: 56px;
    line-height: 1em !important;
    font-weight: 600 !important;
    letter-spacing: normal !important;
}

#Amain-text {
    font-size: 60px !important;
    /*width: 100%; */
    /* margin-right: 100px; */
    position: absolute;
}

.Amain-text-2 {
    text-align: left;
    font-size: 56px;
    line-height: 1em !important;
    font-weight: 600 !important;
    letter-spacing: normal !important;
}

#Amain-text-2 {
    font-size: 40px !important;
    /* width: 100%; */
    /* margin-right: 100px; */
    position: absolute;
    margin-top: 80px;
}

.sign-panel {
    background-color: #fff;
}
.info-sec {
    
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    zoom: 1;
    box-sizing: border-box;
    content: none;
    display: table;
    clear: both;
    /*margin-top: 100px;*/

}

.main-sep-1 {
    padding-top: 65px;
    padding-right: 20px;
    padding-left: 20px;
    border-top-width: 1px;
    border-right: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    padding: 0px;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
}

.btn-href {
    text-decoration: none;
    color: #fff;
}

.main-sep-1_1 {
    margin-top: 70px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
    box-sizing: border-box;
    margin-bottom: 70px;
}

.main-sep-1_2 {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    zoom: 1;
}

.info-left {
    flex: 1 1 auto;
    display: flex;
    width: 33.33%;
    float: left;
    min-height: 1px;
    zoom: 1;
    box-sizing: border-box;
    font-stretch: normal;
    content: none;
    display: table;
    clear: both;
    content: " ";
}

.info-left-1 {
    margin-bottom: 100px;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-shrink: 1;
    min-width: 1px;
    max-width: 100%;
    width: 33.333%;
    flex: 1 1 auto;
    display: flex;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-stretch: normal;
    content: none;
}

.info-middle {
    margin-top: 51px;
}

.info-right {
    margin-top: 102px;
}

:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
}

.info-left-1_1 {
    zoom: 1;
    box-sizing: border-box;
    -webkit-box-direction: normal;
}

#info-left {
    display: inline;
    /* clear: both; */
    /* content: none; */
    height: 400px !important;
    /* width: 500px !important; */
    max-width: 100%;
    height: auto;
}

.info-text-left {
    zoom: 1;
    box-sizing: border-box;
    -webkit-box-direction: normal;
    display: table;
    clear: both;
}

.info-left-text-1 {
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    zoom: 1;
    box-sizing: border-box;
}

.left-heading {
    font-weight: 300;
    font-size: 30px;
    line-height: 1;
    padding: 0 !important;
    margin: 0 !important;
    font-style: normal;
    font-stretch: normal;
    clear: both;
}

.left-heading-text {
    text-align: left;
    display: table;
    clear: both;
    content: none;
    box-sizing: border-box;
}

.left-info {
    zoom: 1;
    box-sizing: border-box;
    display: table;
    clear: both;
}

.left-info-1 {
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin: 0px;
    zoom: 1;
    box-sizing: border-box;
    display: table;
    clear: both;
}

.left-info-1_1 {
    font-weight: 300;
    font-size: 18px;
    box-sizing: border-box;
}

.info-text {
    text-align: left;
    display: table;
    clear: both;
    content: none;
    margin-bottom: 1.5em;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.exp {
    zoom: 1;
    box-sizing: border-box;
    display: table;
    clear: both;
}

.exp:before {
    display: table;
    content: " ";
    box-sizing: border-box;
}

.exp-1 {
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin: 0px;
    zoom: 1;
    box-sizing: border-box;
    display: table;
    clear: both;
}

.exp-1_1 {
    box-sizing: border-box;
}

.btn-dot.btn-prime {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-left: 6px;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    font-style: normal;
    border-radius: 90px;
    background: linear-gradient(to right, #0041f0 70%, rgba(0, 0, 0, 0) 20%);
    background-size: 400% 100%;
    background-position: right bottom;
    transition: background-position 0.65s cubic-bezier(0.65, 0, 0.076, 1) !important;
    box-sizing: border-box;
    background-color: #0041f0;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;
}

.faq-btn .faq-circle {
    position: relative;
    left: -6px;
    margin-right: 16px;
    width: 48px;
    height: 48px;
    background-color: #0041f0;
    border-radius: 90px;
    flex-shrink: 0;
    box-sizing: border-box;
    line-height: 18px;
    cursor: pointer;
}

.btn-dot .btn-text {
    color: #000;
    font-weight: 700%;
    transition: color 0.45 cubic-bezier(0.65, 0, 0.076, 1);
    margin: 0;
}

.btn-dot:hover .btn-text {
    color: white;
}

.faq-arrow {
    box-sizing: border-box;
    position: relative;
    opacity: 0;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 140%;
    animation: animate 8s linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.btn-dot.btn-reg .arrow::before {
    box-sizing: border-box;
    position: absolute;
    content: '';
    top: 18.5px;
    left: 15px;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-top-color: rgb(255, 255, 255);
    border-right: 2px solid #fff;
    border-right-color: rgb(255, 255, 255);
    transform: rotate(45deg);
    transition: left 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.btn-dot.btn-prime:focus {
    outline: none;
}

.bt-dot:hover .btn-text {
    color: white;
}

.btn-dot.btn-prime:focus-visible {
    outline: 2px dashed #a100ff !important;
    outline-offset: 5px !important;
}

.btn-dot.btn-prime:hover .icon.arrow::after {
    transform: scaleX(8);
    z-index: 100;
}

.bnt-dot.btn-prime:hover .icon.arrow::before {
    left: 30px;
}

.btn-dot .btn-text {
    padding-right: 30px
}

.exp {
    position: relative;
    opacity: 0;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 140%;
    animation: animate 8s linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.btn-dot:hover {
    background-position: bottom;
}

.btn-dot .circle {
    position: relative;
    left: -6px;
    margin-right: 16px;
    width: 48px;
    height: 48px;
    background-color: #0041f0;
    border-radius: 90px;
    flex-shrink: 0;
}

.btn-dot.btn-prime.btn-reg .arrow::after {
    content: '';
    position: absolute;
    border-top: 2px solid #fff;
    border-top-color: rgb(255, 255, 255);
    border-radius: 0 10px 10px 0;
    top: 24px;
    left: 27px;
    transition: transform 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transform-origin: 0 0;
    box-sizing: border-box;
}

.arrow-text {
    padding-right: 30px;
    font-weight: 700;
    transition: color 0.45 cubic-bezier(0.65, 0, 0.076, 1);
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}

@keyframes animate {
    0% {
        background-position: 500%;
        opacity: 1;
    }

    90% {
        background-position: -500%;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
        opacity: 1;
    }

    100% {
        background-position: -500%;
        -webkit-text-fill-color: rgba(255, 255, 255, 1);
        opacity: 1;
    }
}



.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    pointer-events: auto;
    cursor: pointer;
    background: #a100ff;
    border: none;
    padding: 1.5rem 3rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
}

.button::before,
.button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.sign-head {
    text-align: center !important;
    font-size: 40px;
    margin-bottom: 70px;
    margin-top: 50px;
}

.card-title {
    text-align: left;
    margin-top: 10px;
    margin-bottom: .5rem;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 900;
    line-height: 1.2;
}

.bd-placeholder-img {
    width: 50%;
    align-items: center;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.card-body {
    background-color: #f5f5f5;
    margin-top: 20px;
}

.card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    width: 50%;
}

.card-text {
    margin-top: 20px;
    text-align: left;
}

.button--mimas {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 0.85rem;
    border-radius: 0.5rem;
    overflow: hidden;
    color: #fff;
    background: #a100ff;
}

.button--mimas span {
    position: relative;
    /*mix-blend-mode: difference;*/
}

.cand-img::before {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.button--mimas::before {
    content: '';
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button--mimas:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cand {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.cand:before {
    color: white;
}