@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sofia+Sans+Extra+Condensed:ital,wght@1,200;1,500&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif !important;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

div,
table,
select,
button {
  font-family: 'Poppins', sans-serif !important;
  text-align: center;
  font-size: 15px !important;
}

table {
  font-size: 14px !important;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 102%;
}

.jobs-desc {
  margin: 70px;
}

td {
  /*border: 1px solid #888686;*/
  padding: 8px;
  text-align: center;
}

th {
  /*border: 1px solid #888686;*/
  padding: 8px;
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
  border-bottom-width: 5px;
  border-bottom-style: groove;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.social {
  font-size: 14px !important;
  padding-right: 15px;
  padding-left: 15px;
}

.approval {
  height: 21px;
  width: 21px;
}

.btn:not(:disabled):not(.disabled),
.btn-close:not(:disabled):not(.disabled) {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 10px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-transform: none;
  overflow: visible;
  margin: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  -webkit-appearance: button;
}

.btn-close:not(:disabled):not(.disabled) {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  cursor: pointer;
  width: 40%;
  margin: 20px auto;
}

.btn-close:hover:not(:disabled):not(.disabled) {
  border-color: #dc3545 !important;
  color: #dc3545 !important;
  background-color: #fff !important;
}

.btn:hover:not(:disabled):not(.disabled),
.btn-close:hover:not(:disabled):not(.disabled) {
  color: #fff;
  /*background-color: #218838;
  border-color: #1e7e34;*/
  background-color: #fff;
  border-color: #1e7e34;
  color: #1e7e34;
  font-weight: bolder;
  border-width: 1px;
}

.mo-btn:hover {
  background-color: #fff !important;
  border-color: #a100ff !important;
  color: #a100ff !important;
  font-weight: bolder;
  border-width: 1px;
}

.btn.disabled,
.btn:disabled {
  cursor: none;
  pointer-events: none;
  opacity: .65;
  color: #fff;
  background-color: #7a7e7b;
  border-color: #7a7e7b;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 10px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-transform: none;
  overflow: visible;
  margin: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-appearance: button;
}

.main_logo {
  height: auto;
  width: 110px;
  margin: -36px;
  margin-left: -29px;
}

.modal-body h3 {
  font-size: 30px !important;
  margin-bottom: 15px;
}

.m-out {
  height: 160px;
  width: 160px;
  margin: 20px auto 50px auto;
  border-style: solid;
  border-radius: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  border-width: 5px;
}

.btn-close-2 {
  margin: 5px auto !important;
}

.modal-dialog-2 {
  margin: 1.75rem 35rem !important;
  /* margin: auto !important; */
  /* margin-top: 90px !important; */
  top: 1% !important;
}

@media (min-width: 576px) {
  .modal-dialog-2 {
    max-width: 748px !important;
    margin: 2.75rem auto !important;
  }
}

.modal-content-2 {
  border-radius: 15px !important;
  width: 748px !important;
  height: 625px !important;
}

.modal-footer {
  justify-content: center !important;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  width: 90% !important;
  margin: auto !important;
  font-size: 13px !important;
}

.out-success {
  border-color: #4caf50;
}

.out-error {
  border-color: #f44336;
}

.mo-btn {
  background-color: #a100ff !important;
  border-color: #a100ff !important;
}

.msg-error {
  padding-bottom: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  border-radius: 7px;
  background-color: red;
  text-align: center;
  transition: 0.5s;
  font-size: 18px !important;
  /*-webkit-animation: fadeinout 8s linear forwards;
  animation: fadeinout 8s linear forwards;*/
}

.msg-success {
  padding-bottom: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  border-radius: 7px;
  background-color: green;
  text-align: center;
  transition: 0.5ss;
  font-size: 18px !important;
  /*-webkit-animation: fadeinout 8s linear forwards;
  animation: fadeinout 8s linear forwards;*/
}

.msg-success a {
  color: white !important;
}

@-webkit-keyframes fadeinout {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.modal-body label {
  margin-top: 20px;
  float: left;
  margin-left: 5px
}

.hash-tag {
  width: 720px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
}

.desc-text {
  height: 367px;
  width: 100%;
  resize: vertical;
  padding: 10px;
  border-radius: 10px;
}

.modal-dialog {
  /* margin: 1.75rem 44rem !important; */
  margin: auto !important;
  /* margin-top: 90px !important; */
  top: 4%;
}

@media (min-width: 576px) {
  .modal-dialog-3 {
    max-width: 362px !important;
    margin: 1.75rem auto !important;
  }
}

.modal-content-3 {
  border-radius: 15px;
  width: 360px !important;
  height: 495px;
}

.signout-btn {
  margin: 12px;
  /* color: white !important; */
  padding: 10px 15px;
  border-radius: 15px;
}

.signout-text {
  color: white;
  text-align: center;
  text-decoration: none;
}

.header-name {
  display: flex;
}

.header-name h2 {
  color: black;
}

.sidenav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  transition: 0.5s;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.side-nav span {
  font-size: 30px;
  cursor: pointer;
  display: flex;
  margin-top: 16px;
  margin-right: 18px;
  margin-left: 9px;
}

.site-logo {
  display: flex;
  margin-top: 4px;
}

.header {
  overflow: hidden;
  background-color: #fff;
  padding: 18px 20px 25px 10px;
  box-shadow: -3px -20px 53px #000;
  display: flex;
  flex-direction: row;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  margin-top: 14px;
}

/*
#acc-logo:hover, .logo:hover{
  background-color: #ddd;
}
*/

.modal-title {
  font-size: 20px !important;
  margin-left: 10px;
}

.header a.active {
  background-color: white;
  color: #000;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  position: relative;
  margin-top: 11px;
}

/*
.header a.active:hover {
  background-color: #a100ff;
  color: #fff;
}*/
.header-right a:hover {
  font-size: 21px;
  color: #a100ff;
  font-weight: bolder;
  transition: 0.5s;
}

.header-right a:hover:after {
  position: absolute;
  content: '';
  height: 0.4rem;
  bottom: -2.6rem;
  left: 0;
  width: 100%;
  background-color: #a100ff;
  text-decoration: none;
  transition: 0.5s;
}

.header-right {
  float: right;
  margin-left: auto;
  display: flex;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.logo-seperator {
  display: -webkit-inline-box;
  background-color: #979494;
  min-width: 1px;
  width: 1px;
  height: 55px;
  float: left;
  margin-top: 6px;
}

#acc-logo {
  height: 35px;
  float: left;
  padding-bottom: 8.2px;
}

.header-right a {
  margin-top: 13px;
  background-color: white;
  color: #000;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  position: relative;
  margin-top: 13px;
}


/* TABLE */

* {
  padding: 0;
  margin: 0;
}

main {
  widows: 70%;
  height: auto;
  padding: 20px;
  margin: 50px auto;
  background: whitesmoke;
  font-family: system-ui;
  color: #666;
}

.header-table {
  width: 90%;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-controller,
.search {
  flex-shrink: 0;
  display: flex;
  align-content: center;
  align-items: center;

}

select {
  padding: 2px;
  margin: -5px 10px;
  outline: none;
  cursor: pointer;
  border: none;
  background: transparent;
}

.search>input {
  padding: 8px;
  border: none;
  outline: navajowhite;
  margin: 0 0 0 20px;
  background: white;
}

.field {
  width: 90%;
  height: auto;
  margin: auto;
}

table {
  width: 110%;
  margin: 2px -55px;
  table-layout: auto;
  color: #292929;
  background-color: #ffff;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  box-shadow: -2px 18px 62px -5px rgb(0 0 0 / 21%);
}

table tr th,
td {
  padding: 10px;
  /*border: 1px solid #ccc;*/
}

.job-cont h3 {
  text-align: center;
  font-size: 50px !important;
  color: #292929;
  font-weight: bolder;
}

.bottom-field {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li {
  list-style: none;
  padding: 2px;
  margin: 10px;
  flex-shrink: 0;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #999;
  color: #999;
}

.pagination li.active {
  background: #32d6aa;
  color: white;
  border-color: #32d6aa;

}

.pagination li a {
  text-decoration: none;
  padding: 3px 8px;
  color: inherit;
  display: block;
  font-family: sans-serif;
  font-size: 13px;
}

i.fa-edit {
  color: lime;
}

i.fa-trash {
  color: red;
}

/* Approval Flag */

.app-True {
  font-size: 14px !important;
  background: #cff6dd;
  color: #1fa750;
  position: relative;
  border-radius: 30px;
  padding: 7px 22px 7px 33px;
  box-sizing: border-box;
}

.app-True:after {
  position: absolute;
  top: 15px;
  left: 13px;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%;
  background: #23bd5a;
}

.app-False {
  font-size: 14px !important;
  background: #fdf5dd;
  color: #cfa00c;
  position: relative;
  border-radius: 30px;
  padding: 7px 22px 7px 33px;
  box-sizing: border-box;
}

h5 {
  font-size: 19px !important;
}

.app-False:after {
  background: #f2be1d;
  position: absolute;
  top: 15px;
  left: 13px;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%;
}


.side-nav span:hover {
  background-color: #a100ff;
  color: #fff;
  font-size: 16px !important;
  font-weight: bolder;
  font-size: 30px;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 90px;
}

/* SIDENAV */
.sidenav {
  width: 275px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  top: 0;
  right: 25px;
  font-size: 36px;
  /*margin-left: 50px;*/
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.search input {
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
}

.user-icon {
  display: flex
}

/*
.user-icon:hover {
  /*background-color: #a100ff;
  background-image: url('user-bw.png');
  background-size: 150px 150px;
  height: 61px;
  width: 50px;
  margin-top: 10px;
  margin-left: 12px;
  padding-left: 8px;
  margin-right: 8px;
}
*/

.svg-icon {
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
  height: 87%;
  display: flex;
  margin-right: 59px;
  margin-top: 6px;
  margin-left: 2px;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
  padding: 10px;
}

.svg-icon:hover {
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
  height: 87%;
  display: flex;
  margin-right: 59px;
  margin-top: 6px;
  margin-left: 2px;
  vertical-align: middle;
  fill: #fff;
  overflow: hidden;
  stroke: #fff;
  stroke-width: 50;
  background-color: #a100ff;
  border-radius: 90px;
  padding: 10px;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* FOOTER */

.cont-footer {
  margin-top: 1000px;
  display: block;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  color: rgba(74, 74, 74, 1);
  -webkit-font-smoothing: antialiased;
  direction: ltr;
}

.rootfooter {
  margin-top: 32px;
  margin-bottom: 24px;
  border-left: 20px solid rgba(0, 0, 0, 0);
  border-right: 20px solid rgba(0, 0, 0, 0);
  text-align: center;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  color: rgba(74, 74, 74, 1);
  -webkit-font-smoothing: antialiased;
  direction: ltr;
}

.foo-span {
  font-size: 10px;
  color: #98a0a6;
  display: inline-block;
  height: 15px;
  background-image: url('Acc_Logo.svg');
  /*background-image: url(https://wd3.myworkdaycdn.com/wday/asset/ui-html/2023.02.7/update/ExternalApp/A17F3BAAF32B577A6774E7DD10CE684F.cache.svg);*/
  background-size: 75px 43px;
  background-repeat: no-repeat;
  padding: 14px 70px 0 0;
  background-position: top right;
  line-height: 10px;
  position: relative;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 40px;
  padding-left: 14px;
  margin-bottom: 0px;
  margin-top: auto;
}

.foo-span::before {
  content: " ";
  font-size: 0;
  display: block;
  width: 420px;
  height: 1px;
  background-color: #abaeb0;
  position: absolute;
  top: 25px;
  left: -470px;
}

.foo-span::after {
  content: " ";
  font-size: 0;
  display: block;
  width: 420px;
  height: 1px;
  background-color: #abaeb0;
  position: absolute;
  top: 25px;
  right: -470px;
}

.copyright {
  font-size: 13px !important;
  color: #4a4a4a;
  line-height: 20px;
  display: block;
  width: 100%;
  max-width: 560px;
  margin: 10px auto 0 auto;
  text-align: center;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  margin-bottom: 40px;
}

.foo-last {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 10px;
  color: #4a4a4a;
  line-height: 20px;
  display: block;
  width: 100%;
  max-width: 560px;
  margin: 10px auto 0 auto;
  text-align: center;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
}

/* SIDE NAV */

.side-nav-logo {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.side-nav-logo div {
  display: flex;
  clear: both;
}

/* BANNER */

@media (min-width: 851px) {
  .page-hero {
    /*margin: 0 0 5rem;*/
  }
}

@media (min-width: 851px) {
  .image {
    /*margin-bottom: 2rem;*/
  }
}

@media (min-width: 1500px) {
  .image {
    /*margin-bottom: 4rem;*/
  }
}

@media (min-width: 851px) {
  .page-hero .container {
    left: 6rem;
    min-width: calc(100% - 12rem);
  }
}

@media only screen and (min-width: 60em) {
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

@media only screen and (min-width: 33.75em) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 11rem;
  }
}

@media (min-width: 1500px) {
  .image.with-margin {
    margin-left: 9rem;
    margin-right: 9rem;
    width: calc(100% - 9rem - 9rem);
  }
}

.page-hero .container {

  min-width: calc(100vw - 4rem);
  position: absolute;
  left: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 851px) {
  .page-hero .container {
    left: 6rem;
    min-width: calc(100% - 12rem);
  }
}

@media (min-width: 1500px) {
  .page-hero .container {
    left: 9rem;
    min-width: calc(100% - 18rem);
  }
}

@media (max-width: 850px) {
  .image img {
    height: auto;
  }

  .image .image-container {
    width: 100% !important;
  }

  .image.with-margin {
    width: calc(100% - 2rem - 2rem);
    margin: 0 2rem 1rem;
  }
}

.page-hero h1 {
  text-align: left;
  color: #fff;
  font-size: 4vw;
  font-weight: 700;
  line-height: 1;
  font-family: inherit;
  margin-bottom: 30px;
}

.page-hero h2 {
  text-align: left;
  color: #fff;
  font-size: 3vw;
  font-weight: 700;
  line-height: 1;
  font-family: inherit;
}

.page-hero h2:hover {
  opacity: 0.5;
  color: #a100ff;
  transition: 3s;
}

.page-hero h2:hover::after {
  color: #fff;
  transition: 3s;
  opacity: 1;
}

.image img {
  height: auto;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.image img.lazy {
  opacity: 0;
}

.image .caption-container {
  margin: 1.4rem 0 0;
  max-width: 70%;
}

.image .image-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.page-hero .container {
  min-width: calc(100vw - 4rem);
  position: absolute;
  left: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
}

.open_dem {
  letter-spacing: 5px;
}

.container span {
  /* width: 50px !important; */
  font-size: 55px;
  /* margin-bottom: 25px; */
  font-weight: 900;
  color: lightblue;
}

.page-hero {
  width: 100%;
  height: auto;
  position: relative;
  box-sizing: border-box;
  box-shadow: -3px 34px 62px -29px #a100ff;
  margin-top: 15px;
}

.image .banner {
  display: block;
  height: 240px;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.image .image-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner {
  opacity: 1;
  transition: opacity 1s;
  border-style: none;
  vertical-align: middle;
  border: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container:before {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.nav-content {
  margin-right: 28px;
}

/******************/

/* USer Side Nav */

.usersidenav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.usersidenav a {
  padding: 0px 8px 3px 8px;
  text-decoration: none;
  font-size: 19px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.usersidenav a:hover {
  color: #f1f1f1;
}

.usersidenav .closebtn {
  top: 0;
  right: 25px;
  font-size: 36px;
  /*margin-left: 50px;*/
}

@media screen and (max-height: 450px) {
  .usersidenav {
    padding-top: 15px;
  }

  .usersidenav a {
    font-size: 18px;
  }
}

.side-nav-logo {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.user-side-nav-logo {
  flex-direction: row;
  display: flex;
}

.user-side-nav-logo div {
  display: flex;
  clear: both;
  display: flex;
}

.user-side-nav span:hover {
  background-color: #a100ff;
  color: #fff;
  font-size: 25px !important;
  font-weight: bolder;
  font-size: 30px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 90px;
}

.usersidenav {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  transition: 0.5s;
  padding-top: 19px;
  margin-right: 6.5vw;
  margin-top: 6vh;
  border-radius: 20px;
  box-shadow: 1px 2px 58px -3px;
  transition: 0.3s;
  overflow: hidden;
}

.usersidenav a:hover {
  color: #a100ff;
  font-weight: bolder;
}

.usersidenav .closebtn {
  top: 0;
  right: 25px;
  font-size: 36px;
  /*margin-left: 50px;*/
}

.user-svg-icon {
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
  height: 80%;
  display: flex;
  margin-right: 14px;
  margin-top: 0px;
  margin-left: -5vw;
  vertical-align: middle;
  fill: #fff;
  overflow: hidden;
  stroke: #fff;
  stroke-width: 50;
  background-color: #a100ff;
  border-radius: 90px;
  padding: 10px;
}

.user-side-nav-1 {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
}

.username {
  display: flex;
  flex-direction: column;
  font-size: 19px !important;
  text-align: left;
}

.user-divider {
  background-color: #a100ff;
  height: 1px;
  width: 90%;
  display: flex;
  margin-top: 8px;
  margin-bottom: 7px;
}

.usern {
  font-size: 16px;
  color: gray;
}

/********/