@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sofia+Sans+Extra+Condensed:ital,wght@1,200;1,500&display=swap');

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif !important;
}

body {
    display: flex;
    align-items: center;
    margin: 0;
    padding-bottom: 220px;
    background-color: #f5f5f5;   
}

.bi {
    margin-right: 10px;
    margin-top: 3px;
}

#signin-border {
    text-align: center;
    padding-left: 100px;
    max-width: 450px;
    padding: 15px;
    margin: auto;
    border-color: rgb(99, 98, 98);
    border-style: groove;
    border-radius: 10px;
    border-width: 1px;
    width: auto;
    height: auto;
}

.msg-error {
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    border-radius: 7px;
    background-color: red;
    text-align: center;
    transition: 2s;
}

.msg-success {
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    border-radius: 7px;
    background-color: green;
    text-align: center;
    transition: 2s;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
    align-items: center;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.banner-size {
    display: inline;
    width: 1900px;
    max-width: 100%;
    height: 250px;
    vertical-align: middle;
}

.btn {
    margin: 15px 10px 45px 0px;
    border-radius: 25px;
}

.mb-3 {
    margin-top: 40px;
    font-weight: bold !important;
}
/* Header  */

.container-header {
    font-family: 'Poppins', sans-serif;
}

.form-control {
    margin-bottom: 10px;
}

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.below-header {
    padding-top: 65px;
    padding-right: 20px;
    padding-left: 20px;
    border-top-width: 1px;
    border-right: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    padding: 0px;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
}

.below-header-2 {
    
    max-width: auto;
    
    zoom: 1;
    box-sizing: border-box;
    margin-bottom: 70px;
}

.banner {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    zoom: 1;
}

.banner-1 {
    margin-bottom: 100px;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-shrink: 1;
    min-width: 1px;
    max-width: 100%;
    width: 33.333%;
    flex: 1 1 auto;
    display: flex;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-stretch: normal;
    content: none;
}

.fbanner {
    zoom: 1;
    box-sizing: border-box;
    -webkit-box-direction: normal;
}

.b-example-divider, .b-example-divider-2 {
    height: auto;
    background-color: #A100FF;
    border: solid #A100FF;
    border-width: 4px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }


.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

* {
    box-sizing: border-box;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 35px 61px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 22px;
    line-height: 25px;
    border-radius: 4px;
}


.header a.logo {
    font-size: 27px;
    font-weight: bold;
}

.header a:hover, .header a.active:hover{
    color: #a100ff;
    font-weight: bolder;
    transition: 0.5s;
}

.header a.active {
    color: rgb(0, 0, 0);
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}


/* Footer */

.cont-footer {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: none;
    color: rgba(74, 74, 74, 1);
    -webkit-font-smoothing: antialiased;
    direction: ltr;
}
.rootfooter {
    margin-top: 32px;
    margin-bottom: 24px;
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-right: 20px solid rgba(0, 0, 0, 0);
    text-align: center;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    color: rgba(74, 74, 74, 1);
    -webkit-font-smoothing: antialiased;
    direction: ltr;
}

.foo-span {
    font-size: 10px;
    color: #98a0a6;
    display: inline-block;
    height: 15px;
    background-image: url('Acc_Logo.svg');
    /*background-image: url(https://wd3.myworkdaycdn.com/wday/asset/ui-html/2023.02.7/update/ExternalApp/A17F3BAAF32B577A6774E7DD10CE684F.cache.svg);*/
    background-size: 75px 43px;
    background-repeat: no-repeat;
    padding: 14px 70px 0 0;
    background-position: top right;
    line-height: 10px;
    position: relative;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 40px;
    padding-left: 14px;
    margin-bottom: 0px;
    margin-top: 200px;
}
.foo-span::before {
    content: " ";
    font-size: 0;
    display: block;
    width: 420px;
    height: 1px;
    background-color: #abaeb0;
    position: absolute;
    top: 25px;
    left: -470px;
}
.foo-span::after {
    content: " ";
    font-size: 0;
    display: block;
    width: 420px;
    height: 1px;
    background-color: #abaeb0;
    position: absolute;
    top: 25px;
    right: -470px;
}

.copyright {
    font-size: 13px !important;
    color: #4a4a4a;
    line-height: 20px;
    display: block;
    width: 100%;
    max-width: 560px;
    margin: 10px auto 0 auto;
    text-align: center;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    margin-bottom: 40px;
}

.foo-last {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 10px;
    color: #4a4a4a;
    line-height: 20px;
    display: block;
    width: 100%;
    max-width: 560px;
    margin: 10px auto 0 auto;
    text-align: center;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
}

/* BANNER */

@media (min-width: 851px) {
    .page-hero {
        /*margin: 0 0 5rem;*/
    }
}

@media (min-width: 851px) {
    .image {
        /*margin-bottom: 2rem;*/
    }
}

@media (min-width: 1500px) {
    .image {
      /*margin-bottom: 4rem;*/
    }
  }

@media (min-width: 851px) {
    .page-hero .container {
        left: 6rem;
        min-width: calc(100% - 12rem);
    }
}

@media only screen and (min-width: 60em) {
    .container {
        width: 75%;
        max-width: 60rem;
    }
}

@media only screen and (min-width: 33.75em) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 11rem;
    }
}

@media (min-width: 1500px) {
    .image.with-margin {
      margin-left: 9rem;
      margin-right: 9rem;
      width: calc(100% - 9rem - 9rem);
    }
  }

  .page-hero .container {      
        
    min-width: calc(100vw - 4rem);
    position: absolute;
    left: 2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  @media (min-width: 851px) {
    .page-hero .container {
      left: 6rem;
      min-width: calc(100% - 12rem);
    }
  }
  
  @media (min-width: 1500px) {
    .page-hero .container {
      left: 9rem;
      min-width: calc(100% - 18rem);
    }
  }

  @media (max-width: 850px) {
    .image img {
      height: auto;
    }
    .image .image-container {
      width: 100% !important;
    }
    .image.with-margin {
      width: calc(100% - 2rem - 2rem);
      margin: 0 2rem 1rem;
    }
  }

  .page-hero h1 {
    text-align: left;
    color: #fff;
    font-size: 4vw;
    font-weight: 700;
    line-height: 1;
    font-family: inherit;
    margin-bottom: 30px;
}

.page-hero h2 {
    text-align: left;
    color: #fff;
    font-size: 3vw;
    font-weight: 700;
    line-height: 1;
    font-family: inherit;
}

.page-hero h2:hover {
   opacity: 0.5;
   color:#a100ff;
   transition: 3s;
}

.page-hero h2:hover::after {
    color: #fff;
    transition: 3s;
    opacity: 1;
}

.image img {
    height: auto;
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }

  .image img.lazy {
    opacity: 0;
  }
  
  .image .caption-container {
    margin: 1.4rem 0 0;
    max-width: 70%;
  }
  
  .image .image-container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

.page-hero .container {
    min-width: calc(100vw - 4rem);
    position: absolute;
    left: 2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.page-hero {
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    box-shadow: -3px 34px 62px -29px #a100ff;
}

.image .banner {
    display: block;
    width: 2500px;
    height: 350px;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.image .image-container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner {
    opacity: 1;
    transition: opacity 1s;
    border-style: none;
    vertical-align: middle;
    border: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.container:before {
    display: table;
    content: " ";
}

.container:after {
    clear: both;
}

/******************/

.banner-img {
    height: 50px;
    float: left;
    margin-bottom: 32px;
    width: 190px;
}